In [1]:
import pandas as pd

In [2]:
# Ler arquivo de dados meteorologicos
df = pd.read_excel('/home/franciele/Projetos/dados-dengue/Dados/dados_meteorologicos.xlsx', head=[0, 1, 2, 3, 4, 5, 6])

# Alterando o nome das colunas
df.columns = ['municipio', 'data', 'hora', 'precipitacao', 'temperatura_maxima',
     'temperatura_minima', 'temperatura_media', 'umidade_relativa_media']

In [3]:
# Visual os primeiros registros do data frame
print(df.head())

    municipio       data  hora  precipitacao  temperatura_maxima  \
0  Alagoinhas 2001-01-01     0           NaN                33.1
1  Alagoinhas 2001-01-01  1200           0.0                 NaN
2  Alagoinhas 2001-01-02     0           NaN                32.3
3  Alagoinhas 2001-01-02  1200           0.0                 NaN
4  Alagoinhas 2001-01-03     0           NaN                32.5

   temperatura_minima  temperatura_media  umidade_relativa_media
0                 NaN              26.20                   69.25
1                21.5                NaN                     NaN
2                 NaN              25.00                   69.25
3                17.5                NaN                     NaN
4                 NaN              25.16                   70.75

In [4]:
# Visualizando os tipos dos dados contidos no data frame
df.dtypes

municipio                         object
data                      datetime64[ns]
hora                               int64
precipitacao                     float64
temperatura_maxima               float64
temperatura_minima               float64
temperatura_media                float64
umidade_relativa_media           float64
dtype: object

In [5]:
# Formatando a coluna data
df['data'] = df.data.dt.strftime('%d/%m/%Y')

In [6]:
# Visualizando alterações
print(df.head())

    municipio        data  hora  precipitacao  temperatura_maxima  \
0  Alagoinhas  01/01/2001     0           NaN                33.1
1  Alagoinhas  01/01/2001  1200           0.0                 NaN
2  Alagoinhas  02/01/2001     0           NaN                32.3
3  Alagoinhas  02/01/2001  1200           0.0                 NaN
4  Alagoinhas  03/01/2001     0           NaN                32.5

   temperatura_minima  temperatura_media  umidade_relativa_media
0                 NaN              26.20                   69.25
1                21.5                NaN                     NaN
2                 NaN              25.00                   69.25
3                17.5                NaN                     NaN
4                 NaN              25.16                   70.75

In [8]:
# Visualizando as dimensões do data frame
print(df.shape)

(327665, 8)

In [9]:
# Salvando a quantidade de registros do data frame
size = df.shape[0]

# Visualizando valor armazenado
print(size)

327665

In [10]:
# Organizando os dados municipio, data e hora de forma ascendente
df.sort_values(['municipio', 'data', 'hora'], ascending=[True, True, True])

,municipio,data,hora,precipitacao,temperatura_maxima,temperatura_minima,temperatura_media,umidade_relativa_media
0,Alagoinhas,01/01/2001,0,NaN,33.1,NaN,26.20,69.25
1,Alagoinhas,01/01/2001,1200,0.0,NaN,21.5,NaN,NaN
730,Alagoinhas,01/01/2002,0,NaN,27.9,NaN,24.84,92.50
731,Alagoinhas,01/01/2002,1200,1.1,NaN,23.3,NaN,NaN
1460,Alagoinhas,01/01/2003,0,NaN,35.0,NaN,26.56,67.00
1461,Alagoinhas,01/01/2003,1200,0.0,NaN,18.8,NaN,NaN
2190,Alagoinhas,01/01/2004,0,NaN,33.3,NaN,26.64,68.50
2191,Alagoinhas,01/01/2004,1200,0.0,NaN,20.4,NaN,NaN
2922,Alagoinhas,01/01/2005,0,NaN,34.9,NaN,27.28,67.25
2923,Alagoinhas,01/01/2005,1200,0.0,NaN,21.7,NaN,NaN
3652,Alagoinhas,01/01/2006,0,NaN,32.1,NaN,26.10,70.00
3653,Alagoinhas,01/01/2006,1200,0.3,NaN,22.0,NaN,NaN
4377,Alagoinhas,01/01/2007,0,NaN,33.1,NaN,26.34,73.00
4378,Alagoinhas,01/01/2007,1200,0.0,NaN,20.0,NaN,NaN
5107,Alagoinhas,01/01/2008,0,NaN,32.1,NaN,25.42,68.00
5108,Alagoinhas,01/01/2008,1200,0.0,NaN,20.0,NaN,NaN
5839,Alagoinhas,01/01/2009,0,NaN,33.3,NaN,26.26,71.75
5840,Alagoinhas,01/01/2009,1200,0.0,NaN,20.0,NaN,NaN
6569,Alagoinhas,01/01/2010,0,NaN,35.3,NaN,27.24,65.00
6570,Alagoinhas,01/01/2010,1200,0.0,NaN,21.1,NaN,NaN
7299,Alagoinhas,01/01/2011,0,NaN,32.7,NaN,26.52,64.75
7300,Alagoinhas,01/01/2011,1200,0.0,NaN,22.4,NaN,NaN
8029,Alagoinhas,01/01/2012,0,NaN,33.7,NaN,26.44,69.25
8030,Alagoinhas,01/01/2012,1200,0.0,NaN,20.5,NaN,NaN
8761,Alagoinhas,01/01/2013,0,NaN,32.5,NaN,26.36,73.75
8762,Alagoinhas,01/01/2013,1200,0.0,NaN,21.4,NaN,NaN
9491,Alagoinhas,01/01/2014,0,NaN,31.9,NaN,26.18,72.75
9492,Alagoinhas,01/01/2014,1200,0.0,NaN,21.4,NaN,NaN
10221,Alagoinhas,01/01/2015,0,NaN,34.6,NaN,26.72,69.75
10222,Alagoinhas,01/01/2015,1200,0.0,NaN,20.4,NaN,NaN
...,...,...,...,...,...,...,...,...
316725,Vitoria da Conquista,31/12/2002,1200,0.0,NaN,16.3,NaN,NaN
317454,Vitoria da Conquista,31/12/2003,0,NaN,29.1,NaN,22.86,72.50
317455,Vitoria da Conquista,31/12/2003,1200,0.0,NaN,17.9,NaN,NaN
318184,Vitoria da Conquista,31/12/2004,0,NaN,29.1,NaN,22.74,65.25
318185,Vitoria da Conquista,31/12/2004,1200,0.0,NaN,16.7,NaN,NaN
318914,Vitoria da Conquista,31/12/2005,1200,2.2,NaN,NaN,NaN,NaN
319643,Vitoria da Conquista,31/12/2006,0,NaN,25.9,NaN,20.50,82.25
319644,Vitoria da Conquista,31/12/2006,1200,0.0,NaN,15.5,NaN,NaN
320373,Vitoria da Conquista,31/12/2007,0,NaN,26.3,NaN,NaN,85.25
320374,Vitoria da Conquista,31/12/2007,1200,0.0,NaN,NaN,NaN,NaN
321104,Vitoria da Conquista,31/12/2008,0,NaN,28.1,NaN,22.12,86.00
321105,Vitoria da Conquista,31/12/2008,1200,0.0,NaN,18.6,NaN,NaN
321834,Vitoria da Conquista,31/12/2009,0,NaN,29.7,NaN,NaN,72.00
321835,Vitoria da Conquista,31/12/2009,1200,1.3,NaN,NaN,NaN,NaN
322564,Vitoria da Conquista,31/12/2010,0,NaN,24.9,NaN,19.86,85.00
322565,Vitoria da Conquista,31/12/2010,1200,30.9,NaN,16.2,NaN,NaN
323292,Vitoria da Conquista,31/12/2011,0,NaN,28.5,NaN,23.02,91.50
323293,Vitoria da Conquista,31/12/2011,1200,0.0,NaN,19.1,NaN,NaN
324022,Vitoria da Conquista,31/12/2012,0,NaN,28.3,NaN,21.04,80.25
324023,Vitoria da Conquista,31/12/2012,1200,0.0,NaN,14.2,NaN,NaN
324751,Vitoria da Conquista,31/12/2013,0,NaN,28.9,NaN,21.92,69.50
324752,Vitoria da Conquista,31/12/2013,1200,0.0,NaN,15.2,NaN,NaN
325481,Vitoria da Conquista,31/12/2014,0,NaN,NaN,NaN,NaN,73.00
325482,Vitoria da Conquista,31/12/2014,1200,0.0,NaN,13.4,NaN,NaN
326211,Vitoria da Conquista,31/12/2015,0,NaN,31.9,NaN,24.26,58.50
326212,Vitoria da Conquista,31/12/2015,1200,0.0,NaN,16.3,NaN,NaN
326933,Vitoria da Conquista,31/12/2016,0,NaN,27.9,NaN,20.96,72.25
326934,Vitoria da Conquista,31/12/2016,1200,0.0,NaN,14.6,NaN,NaN
327663,Vitoria da Conquista,31/12/2017,0,NaN,29.9,NaN,NaN,73.75
327664,Vitoria da Conquista,31/12/2017,1200,0.0,NaN,NaN,NaN,NaN

In [11]:
# Lista única de municípios do data frame
lista_municipios = df.municipio.unique()

# Visualizando tamanho da lista
print(lista_municipios.size)

# Visualizando lista de municípios
print(lista_municipios)

28
['Alagoinhas' 'Barra' 'Barreiras' 'Bom  Jesus da Lapa' 'Caetite'
 'Canavieiras' 'Caravelas' 'Carinhanha' 'Cipo' 'Correntina'
 'Cruz das Almas' 'Feira de Santana' 'Guaratinga' 'Irece' 'Itaberaba'
 'Itiruçu' 'Ituaçu' 'Jacobina' 'Lençois' 'Monte Santo' 'Morro do Chapéu'
 'Paulo Afonso' 'Remanso' 'Salvador' 'Santa Rita de Cassia'
 'Senhor do Bonfim' 'Serrinha' 'Vitoria da Conquista']

In [12]:
# Lista única de datas do data frame
lista_datas = df.data.unique()

# Visualizando tamanho da lista
print(lista_datas.size)

# Visualizando lista de datas
print(lista_datas)

6209
['01/01/2001' '02/01/2001' '03/01/2001' ... '29/12/2017' '30/12/2017'
 '31/12/2017']

In [17]:
# Função para retornar dia mês e ano
def getDateSplit(data):
    split = data.split('/')
    dia = split[0]
    mes = split[1]    
    ano = split[2]
    return dia, mes, ano

In [47]:
def log(arquivoCodigo, arquivoDados, msgErro):
    arquivo = open('log.txt','a')
    arquivo.write('Arquivo do código: ' + arquivoCodigo + '\n')
    arquivo.write('Arquivo de dados: ' + arquivoDados + '\n')
    arquivo.write('Erro: ' + msgErro + '\n')
    arquivo.close()

In [51]:
# Loop Municipio e data
for i in range(0, lista_municipios.size, 1):
    print ('[' + str(i) + '] ' + lista_municipios[i])
    
    # Filtrando os dados pelo municipio
    df_filtered_municipio = df[df['municipio'] == lista_municipios[i]]
    
    # Verificando se há dados para o município
    municipioExiste = (df_filtered_municipio.shape[0] != 0)
    
    # Controle de log
    if (not municipioExiste):
        arquivoCodigo = 'testeNormalizacao.ipynb'
        arquivoDados = 'dados_meteorologicos.xlsx'
        msgErro = 'Não há dados para o municipio ' + lista_municipios[i] + '.'
        log(arquivoCodigo, arquivoDados, msgErro)
        print(msgErro)
    
    for j in range(0, lista_datas.size, 1):
        # print ('---- [' + str(j) + '] ' + lista_datas[j])
        
        # Filtrando os dados pela data
        df_filtered_mun_data = df_filtered_municipio[df_filtered_municipio['data'] == lista_datas[j]]
        
        # Verificando se há dados para a data no município em questão
        dataExiste = (df_filtered_municipio.shape[0] != 0)
        
        # Controle de log
        if (not dataExiste):
            arquivoCodigo = 'testeNormalizacao.ipynb'
            arquivoDados = 'dados_meteorologicos.xlsx'
            msgErro = 'Não há dados para a data ' + lista_datas[j] + ' para o município ' + lista_municipios[i] + '.'
            log(arquivoCodigo, arquivoDados, msgErro)
            print(msgErro)
        
        # Salvando dados filtrados pelo municipio e data num arquivo .csv
        '''
        dia, mes, ano = getDateSplit(lista_datas[j])
        arquivo = lista_municipios[i] + '_' + dia + '-' + mes +'-' + ano +'.csv'
        df_filtered_mun_data.to_csv(arquivo)
        '''

[0] Alagoinhas
[1] Barra
[2] Barreiras
[3] Bom  Jesus da Lapa
[4] Caetite
[5] Canavieiras
[6] Caravelas
[7] Carinhanha
[8] Cipo
[9] Correntina
[10] Cruz das Almas
[11] Feira de Santana
[12] Guaratinga
[13] Irece
[14] Itaberaba
[15] Itiruçu
[16] Ituaçu
[17] Jacobina
[18] Lençois
[19] Monte Santo
[20] Morro do Chapéu
[21] Paulo Afonso
[22] Remanso
[23] Salvador
[24] Santa Rita de Cassia
[25] Senhor do Bonfim
[26] Serrinha
[27] Vitoria da Conquista